<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">
    <style>
      th{
        font-size: 25px;
      }
      tr{
        font-size: 17px;
        text-transform: capitalize;
      }
      table{
        padding: 5px;
        margin-left: 20px;
      }
      .main-header{
        font-size: large;
      }
    </style>
  </head>
<body>
  <div class="wrapper">
    <div class="main-header bg-primary">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><b>Todo</b>list</a>
          </div>
        </div>
      </nav>
    </div>

      <section class="content">
        <div class="box box-primary">
          <div class="box-header">
            <a href="/add">
              <center>
                <button type="button" class="btn btn-primary btn-flat">
                  <span class="glyphicon glyphicon-plus"></span> Add Task
                </button>
              </center>
            </a>
          </div>

    <table class="mx-auto d-block table table-bordered table-striped">
        <thead align="center">
            <tr>
              <th>Task</th>
              <th>Status</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if data|length == 0 %}
                  <tr>
                    <td>No Data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
            {% else %}
                {% for i in data %}
                  <tr>
                    <td>{{i[1]}}</td>
                    <td>{{i[3]}}</td>
                    <td>
                        <a href="/view/{{ i[0]}}">
                            <button type="button" class="btn btn-sm btn-info btn-flat" title="Update"><span class="glyphicon glyphicon-eye-open"></span></button>
                          </a>
                    </td>
                    <td>
                        <a href="/updatetask/{{ i[0]}}">
                            <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span></button>
                          </a>
                    </td>
                    <td>
                          <a href="/delete/{{ i[0]}}">
                            <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                          </a>
                    </td>
                  </tr>
                {% endfor %}
            {% endif %}
        </tbody>

    </table>
    </div>
</body>
</html>